go 1.24.4

use (
	./extensions/gpustack-generic-proxy-router
	./extensions/gpustack-model-mapper
	./extensions/gpustack-rate-limit
	./extensions/gpustack-set-header-pre-route
	./extensions/gpustack-token-usage
)
